
.main-bg {
    background-color: var(--color-grey-200);
}

.white-bg {
    background-color: #fff;
}

main {
    background-color: #fff;
}

.add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

